#####################################################
# Start Macro damit Selbsttest vom BLTouch immer gemacht wird
#####################################################
[delayed_gcode _HOMING]
# https://github.com/Klipper3d/klipper/blob/master/docs/G-Codes.md
initial_duration: 6.
gcode:
  RESPOND MSG="Beginne Homeing nach Start" 
  G28
  RESPOND MSG="Homeing nach Start beendet" 
  